<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github-jellyfin" value="https://nuget.pkg.github.com/jellyfin/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Jellyfin.*" />
      <package pattern="Microsoft.*" />
      <package pattern="*" />
    </packageSource>
    <packageSource key="github-jellyfin">
      <package pattern="Jellyfin.Controller" />
      <package pattern="Jellyfin.Model" />
      <package pattern="Jellyfin.Naming" />
      <package pattern="Jellyfin.Common" />
      <package pattern="Jellyfin.Data" />
      <package pattern="Jellyfin.Extensions" />
    </packageSource>
  </packageSourceMapping>
</configuration>
